#side_der {
	border: 1px solid #BACD3B;
	float: left;
	height: 390px;
	margin-right: 18px;
	width: 130px;
}
#side_der ul#lst_side_der {
	height: 278px;
	width: 100px;
	margin: 10px auto 0;
}
#side_der ul#lst_side_der li {
	margin-bottom: 5px;
	width: 100px;
	cursor: pointer;
}
 #side_der ul#lst_side_der li a {
	color: #454545;
	display: block;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 86px;
	font-family: Arial,Helvética sans serif;
}
#side_der ul#lst_side_der li span {
	display: block;
	font-weight: bold;
	line-height: 14px;
	margin: 0 auto;
}
#side_der ul#lst_side_der .vd_sl {
	height: 31px;
	padding-top: 16px;
	background: url("../../images/icono_flecha_abajo.png") no-repeat scroll 42px 35px #F1F1F1;
}
#side_der ul#lst_side_der .vd_dl {
    height: 46px;
    padding-top: 13px;
	background: url("../../images/icono_flecha_abajo.png") no-repeat scroll 42px 47px #F1F1F1;
}
#side_der ul#lst_side_der .vd_dl span {
    width: 82px;
}
#side_der #title_bienes_der {
	background: url("../../images/bg_title_bienes_der.jpg") no-repeat scroll 0 0 transparent;
	color: #454545;
	height: 42px;
	padding-top: 0;
	text-align: center;
	width: 130px;
}
#side_der #title_bienes_der p {
	width: 100px;
	margin: 0 auto 2px;
}
#side_der #vd_bajar_listado {
	background: url("../../images/icono-hoja16X20.png") no-repeat scroll 0 0 transparent;
	color: #454545;
	font-size: 9px;
	font-weight: bolder;
	height: 26px;
	line-height: 18px;
	margin: 18px auto 0;
	padding-left: 20px;
	width: 84px;
}